#brackets-npm-registry-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./npm-icon.png);
  -webkit-filter: grayscale(100%);
  &.active {
    -webkit-filter: none;
  }
}

#brackets-npm-registry-dialog {
  .registry-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid black;
  }
}

#brackets-npm-registry-progress-dialog {
  textarea {
    min-height: 300px;
  }
}
