#brackets-npm-registry-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(./npm-icon.png);
  -webkit-filter: grayscale(100%);
  &.active {
    -webkit-filter: none;
  }
}

#brackets-npm-registry-dialog {

}
